<% if params[:name] %>
  Thanks for submitting the form!  Here are your answers:<br>
  Name: <%= params[:name] %><br>
  <% if ENV['RAILS_ENV']!="development" %>
    Chocolate? <%= params[:chocolate] ? "Yes!" : "No" %><br>
    Rainbows? <%= params[:rainbows] ? "Yes!" : "No" %><br>
    Puppies? <%= params[:puppies] ? "Yes!" : "No" %><br>
    Cold Hard Cash? <%= params[:cash] ? "Yes!" : "No" %><br>
  <% else %>
    Cold Hard Cash? <%= params[:cash] ? "Yes!" : "No" %><br>
  <% end %>
<% else %>
  <%= form_for(@survey) do |f|%>
    <div>
      Name: <%= f.text_field :name %>
    </div>
    <div>
      Favorites:<br>
      <%= f.check_box :chocolate %> Chocolate<br>
      <%= f.check_box :rainbows %> Rainbows<br>
      <%= f.check_box :puppies %> Puppies<br>
      <%= f.check_box :cold_hard_cash %> Cold Hard Cash<br>
    </div>
    <%= submit_tag "Save", data: { confirm: "Are you sure?" }%>
  <% end %>
<% end %>
