
<p>
  <strong>Name:</strong>
  <%= @survey.name %>
</p>

<p>
  <strong>Chocolate:</strong>
  <%= @survey.chocolate %>
</p>

<p>
  <strong>Rainbows:</strong>
  <%= @survey.rainbows %>
</p>

<p>
  <strong>Puppies:</strong>
  <%= @survey.puppies %>
</p>

<p>
  <strong>Cold Hard Cash:</strong>
  <%= @survey.cold_hard_cash %>
</p>
